$global-flexbox: true;

$foundation-palette: (
  primary: #007095,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #75507b,
  footer: #63767e,
);

$black: #242b2e;
$white: #e5e9eb;

$body-background: $black;
$body-font-color: $white;

$offcanvas-size: 50%;
$offcanvas-background: #2e363a;

$topbar-background: $body-background;

@import "foundation-sites/scss/foundation";
@include foundation-everything(true);

/*! Argonbook | MIT | github.com/Abenteuerritter/argonbook */

$section-padding: rem-calc(40);

#off-canvas {
  height: 100%;
}

main {
  padding: $section-padding;
}
footer {
  font-size: rem-calc(12);
  padding: $section-padding;
}
footer, footer a {
  color: map-get($foundation-palette, footer);
}
