$global-flexbox: true;

$foundation-palette: (
  primary: #007095,
  secondary: #777,
  success: #003300,
  warning: #cc8b00,
  alert: #b0413e,
  footer: #63767e,
);

$black: #242b2e;
$white: #e5e9eb;

$body-background: $black;
$body-font-color: $white;

$offcanvas-size: 50%;
$offcanvas-background: #2e363a;

$topbar-background:              $body-background;
$callout-background:             $body-background;
$callout-background-fade: 10%;
$callout-margin: 1rem 0;
$callout-font-color:             $body-font-color;
$callout-font-color-alt:         $body-font-color;
$breadcrumbs-item-color-current: $body-font-color;
$table-background:               $body-background;
$form-label-color:               $body-font-color;

@import "foundation-sites/scss/foundation";
@include foundation-everything(true);

/*! Argonbook | MIT | github.com/Abenteuerritter/argonbook */

$section-space: rem-calc(40);

.position-1 { font-size: 200%; }
.position-2 { font-size: 150%; }
.position-3 { font-size: 100%; }

.off-canvas {
  height: 100%;
}

.user {
  color: $black;
  background-color: $white;
  padding: $section-space;
  label {
    color: $black;
  }
  position: relative;
  .outside {
    position: absolute;
    bottom: - rem-calc(28);
    right: $section-space;
    a { color: $white; }
    a:hover { color: darker($white 40%) }
  }
}

.skills {
  .sticky {
    width: 100%;
    background-color: $body-background;
  }
  .is-stuck {
    padding: ($section-space / 2) 0;
  }
}

.game.media-object, .comment {
  border: 1px solid darken($body-font-color, 50%);
  padding: rem-calc(16 0);
}

.pagination {
  background-color: map-get($foundation-palette, primary);
}

abbr {
  text-decoration: none;
}

main, footer {
  margin: $section-space;
}

footer {
  font-size: rem-calc(12);
}
footer, footer a {
  color: map-get($foundation-palette, footer);
}

/*! ZURB Foundation Fonts */
// This is web/fonts/ where gulp is storing the fonts.
$fi-path: "/fonts";

@import "foundation-icon-fonts/_foundation-icons";
