{% set active = 'new' %}
{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>

<form action="{{ url('fos_message_thread_new') }}" method="post" role="form">
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">{{ 'send'|trans({}, 'FOSMessageBundle') }}</button>
</form>
{% endblock %}