@charset "UTF-8";

// colors
$color-background:  #FFFFFF;
$color-foreground:  #000000;
$color-link:        #0000FF;
$color-link-active: #0000FF;
$color-link-hover:  #0000FF;
$color-header:      #FAFAFA;
$color-header-line: #F3F3F3;
$color-header-logo: #000000;

// 3rd party
@import "waiting-for-dev/zass/sass/zass"; // ☃

// mixins
@import "mixins/clearfix";

// argonbook
@import "default/base";
@import "default/header";
