{% extends "::layout.html.twig" %}
{% trans_default_domain 'web' %}

{% block wrapper %}
<div class="row">
  <div class="col-xs-12 col-sm-9">
    {% block content %}{% endblock %}
  </div>
  <div class="col-xs-12 col-sm-3">
    {% include('ArgonWebBundle::sidebar.html.twig') %}
  </div>
</div>
{% endblock %}