# Symfony
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/data/*
/app/bin/*
!app/cache/.gitkeep
!app/logs/.gitkeep
vendor/*
web/uploads/*
web/bundles/*
web/fonts/*
web/css/*
web/js/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
