*~

# Symfony
/app/Resources/less/bootstrap.less
/vendor/*

# Web stuff
/web/uploads/*
/web/bundles/*
/web/fonts/*
/web/css/*
/web/js/*

# Application Data
/var/*
/var/cache/*
/var/logs/*
!/var/cache/.gitkeep
!/var/logs/.gitkeep

# Configuration files
/app/config/parameters.ini
/app/config/parameters.yml

# Vagrant
.vagrant/

