@charset "UTF-8";

$background-color:                  #ffffff;
$foreground-color:                  #323435;
$acent-color:                       #ff4136;
$anchor-color:                      #0074D9;
$hover-color:                       $acent-color;
$header-line-color:                 $acent-color;
$logo-color:                        $acent-color;

// 3rd party
@import "waiting-for-dev/zass/sass/zass";
@import "capua/sass-utils/mixtends/clearfix";
@import "capua/sass-utils/mixins/center";

// argonbook
@import "default/base";
@import "default/header";
@import "default/user";
