@charset "UTF-8";

$background-color:                  #1d1f20;
$foreground-color:                  #d5d5d5;
$acent-color:                       #8daa91;
$anchor-color:                      #cddc39;
$hover-color:                       #cddc39;
$main-bg-color:                     #cfcfce;
$main-fg-color:                     #212121;
$main-anchor-color:                 blue;
$main-hover-color:                  red;
$header-bg-color:                   #5e5d5c;
$header-line-color:                 $acent-color;
$logo-color:                        $acent-color;

// 3rd party
@import "waiting-for-dev/zass/sass/zass";
@import "capua/sass-utils/mixtends/clearfix";
@import "capua/sass-utils/mixins/center";

// argonbook
@import "default/base";
@import "default/user";
