@charset "UTF-8";

$background-color:                  white;
$foreground-color:                  #323435;
$anchor-color:                      darken($foreground-color, 30%);
$active-color:                      #00b1f3;
$visited-color:                     red;
$header-line-color:                 red;

// 3rd party
@import "waiting-for-dev/zass/sass/zass";
@import "capua/sass-utils/mixtends/clearfix";
@import "capua/sass-utils/mixins/center";

// argonbook
@import "default/base";
@import "default/header";
@import "default/user";
