<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <style type="text/css">
    .ability-all .glyphicon-asterisk { color: #00FF00; }
    .ability-str .glyphicon-asterisk { color: #FF0000; }
    .ability-dex .glyphicon-asterisk { color: #FFFF33; }
    .ability-wis .glyphicon-asterisk { color: #00CCFF; }
    </style>
    <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon" />
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>