{% extends "::base.html.twig" %}

{% block title 'ArgonBook' %}

{% block stylesheets %}
  {% stylesheets 'css/bootstrap.css' 'css/argonbook.css' 'css/jqueryui.css' filter='?yui_css' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="screen" />
  {% endstylesheets %}
  {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
{% endblock %}

{% block body %}
  {% for flashClass, flashMessages in app.session.flashbag %}
    {% for flashMessage in flashMessages %}
      <div class="alert alert-{{ flashClass }}">{{ flashMessage|trans }}</div>
    {% endfor %}
  {% endfor %}

  {% block wrapper %}
    {% block content %}{% endblock %}
  {% endblock %}
{% endblock %}

{% block javascripts %}
  {% javascripts 'js/jquery.js' 'js/jqueryui.js' 'js/bootstrap.js' filter='?closure' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
