{% extends "base.html.twig" %}
{% block title "Argonbook" %}

{% block body %}
  {% block header %}{% endblock %}

  {% for class, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{ class }}">{{ message|trans({}, 'flash') }}</div>
    {% endfor %}
  {% endfor %}

  {% block wrapper %}
    {% block content %}{% endblock %}
  {% endblock %}

  {% block footer %}{% endblock %}
{% endblock %}