<form action="{{ path("fos_user_profile_edit") }}" method="post">
  {{ form_widget(form) }}
  <p>
    <input type="submit" class="expanded button" value="{{ "profile.edit.submit"|trans }}" />
  </p>
</form>
