/*!
 * Argonbook
 */

//
// Imports
// --------------------------------------------------
@import "variables.less";


html, body {
  height: 100%;
}


//
// Cover
// --------------------------------------------------

.wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;

  .wrapper-inner {
    display: table-cell;
    vertical-align: top;

    .container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (min-width: 768px) {
  .wrapper .wrapper-inner {
    vertical-align: middle; /* Start the vertical centering */

    .container {
      width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
  }
}

@media (min-width: 992px) {
  .wrapper .wrapper-inner {
    .container {
      width: 440px;
    }
  }
}


//
// Header
// --------------------------------------------------

.page-header {
  margin: 0;
  padding: 0;

  @media (max-width: 640px) {
    .page-title small {
      display: none
    }
  }

  .nav {
    > li {
      float: left;

      > a {
        padding: 20px;
      }
      + li {
        margin-left: 2px;
      }

      // Active state
      &.active > a {
        &,
        &:hover,
        &:focus {
          color: @nav-pills-active-link-hover-color;
          background-color: @nav-pills-active-link-hover-bg;
        }
      }
    }
  }
}


//
// Login Form
// --------------------------------------------------
// The login form that will enclose the
// username and password fields to glue
// them toguether

.fos_user_security_login .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}
.fos_user_security_login .form-control:focus {
  z-index: 2;
}
.fos_user_security_login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.fos_user_security_login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.fos_user_security_login .checkbox {
  margin-bottom: 10px;
  margin-left: 25px;
  font-weight: normal;
}
.fos_user_security_login .list-group {
  margin-top: 20px;
  margin-bottom: 0;
}
