{% extends "ArgonWebBundle::layout.html.twig" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block wrapper %}
<main id="user">
  <section>
    <article>
      {% block fos_user_content %}{% endblock %}
    </article>
  </section>
</main>
{% endblock %}