{% extends "ArgonWebBundle::layout.html.twig" %}
{% trans_default_domain "ArgonUserBundle" %}

{% block stylesheets %}
  {% stylesheets filter="cssrewrite,scss"
        "../vendor/necolas/normalize.css/normalize.css"
        "@ArgonWebBundle/Resources/scss/argonbook.scss"
        "@ArgonUserBundle/Resources/scss/argonbook.scss"
   %}
    <link rel="stylesheet" href="{{ asset_url }}">
  {% endstylesheets %}
{% endblock %}

{% block header %}{% endblock %}

{% block wrapper %}
<main>
  <section>
    <article>
      {% block fos_user_content %}{% endblock %}
    </article>
  </section>
</main>
{% endblock %}