# VirtualHost for Argonbook
# vi: set ts=4 sw=4 :

$HTTP["host"] =~ "(^|\.){{ domain|replace('.', '\.') }}$" {
    global {
        server.modules += (
            "mod_accesslog",
            "mod_fastcgi",
            "mod_rewrite",
        )
    }
    server.document-root    = "{{ working_dir }}/web"
    accesslog.filename      = "/var/log/lighttpd/{{ domain }}.log"
    index-file.names       += ( "app_dev.php" )
    url.rewrite-if-not-file = ( "(.+)" => "/app_dev.php$1" )
    fastcgi.server          = (
        "/app_dev.php" => (
            "localhost" => (
                "socket"                => "/var/run/php5-fpm.sock",
                "broken-scriptfilename" => "enable",
                "min-procs"             => 0,
                "max-procs"             => 1,
            )
        )
    )
}
