{% extends "ArgonWebBundle::layout.html.twig" %}
{% trans_default_domain "ArgonWebBundle" %}
{% set active = "character" %}

{% block title %}{{ parent() }} - {{ "character.new"|trans }}{% endblock %}

{% block content %}
<h1>{{ "character.new"|trans }}</h1>
{{ form(form) }}
{% endblock %}