{% set active = 'character' %}
{% extends '::layout/twocolumns.html.twig' %}
{% trans_default_domain 'web' %}

{% block title %}{{ parent() }} - {{ 'character.title'|trans }}{% endblock %}

{% block sections %}
  <div class="section section-characters">
    <div class="container">
      <h1>{{ 'character.title'|trans }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ render(controller('ArgonGameBundle:Block:characters')) }}
{% endblock %}