; MySQL Configuration for Argonbook

[client]
default_character_set = utf8

[mysqld]
character_set_server = utf8
collation_server = utf8_general_ci

; Disable and remove locking from the Query Cache
query_cache_size = 0
query_cache_type = 0

{% if "web" not in group_names %}
    ; Memory usage for InnoDB pool
    innodb_buffer_pool_size = {{ (ansible_memtotal_mb * mysql_memory_perc|default(0.8))|int }}M
{% else %}
    ; Default memory usage
    innodb_buffer_pool_size = {{ db_buffer_pool_size|default('128M') }}
{% endif %}
