; PHP Configuration for Argonbook

[PHP]
; Maximum amount of memory a script may consume.
memory_limit = {{ php_memory_limit|default('128M') }}

; Only try the literal path given and to stop processing
; if the file is not found.
cgi.fix_pathinfo = 0

{% if phpdev is defined and phpdev|bool %}
  ; Report everything when developing.
  error_reporting = E_ALL
  display_errors = On

  ; Allow open remote URLs is needed for Composer.
  allow_url_fopen = On
{% else %}
  ; Hide display error on production.
  error_reporting = E_ALL & ~E_DEPRECATED & ~E_STRICT
  display_errors = Off

  ; Disable the treatment of URLs.
  allow_url_fopen = Off
{% endif %}

[Date]
; Default timezone used by the date functions.
date.timezone = {{ php_timezone|default('UTC') }}
