// Core variables and mixins
@import "../../../../../app/Resources/less/variables.less";
@import "../../../../../vendor/twbs/bootstrap/less/mixins.less";

.section-homepage {
  background-color: @brand-jumbotron;
  padding: (@section-padding * 2);
  h1 {
    font-size: 400%;
  }
}