<table>
  <thead>
    <tr>
      <th>{{ "admin.race.name"|trans }}</th>
    </tr>
  </thead>
  <tbody>
  {% for race in entities %}
    <tr>
      <td><a href="{{ path("admin_race_view", {"slug": race.slug}) }}">{{ race }}</a></td>
    </tr>
  {% else %}
    <tr class="warning">
      <td colspan="1">{{ "admin.race.empty"|trans }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
