{% extends "::layout.html.twig" %}
{% trans_default_domain 'web' %}

{# This layout is the base of the standalone screen like the login page.
   It doesn't have the header nor the sidebar and the content is centered. #}

{% block wrapper %}
  <div class="wrapper">
    <div class="wrapper-inner">
      <div class="container">
        <ul class="pager">
          <li class="previous">
            <a href="{{ path('homepage') }}" title="{{ 'layout.are_you_lost'|trans }}">&larr; {{ 'layout.go_back'|trans }}</a>
          </li>
        </ul>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}