{% if entities|length %}
  <h2>{{ 'news.posts'|trans({}, 'web') }}
  {#
    <small class="pull-right">
      <a href="#" class="btn btn-default">{{ 'news.view_all_posts'|trans({}, 'web') }}</a>
    </small>
  #}
  </h2>
  {% for post in entities %}
    {{ render(controller('ArgonNewsBundle:Block:post', {'post': post})) }}
  {% endfor %}
{% endif %}
