{% if entities|length %}
  <h3>{{ "admin.news.posts"|trans }}</h3>
  {% for post in entities %}
    {{ render(controller("ArgonNewsBundle:Block:post", {"post": post, "position": loop.index})) }}
  {% endfor %}
{% endif %}
