<article>
  <h4>{{ post.title }}</h4>
  <main>
    {{ post.body|nl2br }}
  </main>
  <footer>
    {{ "news.footer"|trans({"%creator%": post.creator, "%published%": post.publishedAt|date}) }}
  </footer>
</article>
