<div class="article">
  <h4>{{ post.title }}</h4>
  <div class="content">
    {{ post.body|nl2br }}
  </div>
  <div class="footer">
    {{ 'news.post.footer'|trans({'%creator%': post.creator, '%published%': post.publishedAt|date}, 'web') }}
  </div>
</div>
