<form action="{{ path("fos_user_change_password") }}" method="post">
  {{ form_widget(form) }}
  <p>
    <input type="submit" class="expanded button" value="{{ "change_password.submit"|trans }}" />
  </p>
</form>
