{% extends "ArgonWebBundle::layout.html.twig" %}

{% block body %}
<div class="grid-x align-center align-middle">
  <div class="medium-6 large-4 cell">
    {% if app.request.hasPreviousSession %}
      {% for class, messages in app.session.flashbag.all() %}
        {% for message in messages %}
          <div class="{{ class }} callout">
            <p>{{ message|trans }}</p>
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
    <main class="plain">
      {% block content %}{% endblock %}
      <div class="outside">
        <a href="{{ path("homepage") }}">{{ "go_back"|trans }}</a>
      </div>
    </main>
  </div>
</div>
{% endblock %}