/*! _base.scss | style common tags with theme and structure */

body {
  font-family: arial, sans-serif;
  font-size:   13px;
  line-height: 1.4;
  color:            $color-foreground;
  background-color: $color-background;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////zsrFFOhhzwAAAA9JREFUeNpiYGTAAAABBgAAJwAC/BnsgQAAAABJRU5ErkJggg==);
}

a {
  text-decoration: none;
  color: $color-link;

  &:active {
    color: $color-link-active;
  }

  &:hover, &:focus {
    color: $color-link-hover;
  }
}

section {
  margin: 0 auto;
  padding: 0.67em;
  @include clearfix;
  @include zass-grid(false);
}
