/*! _header.scss | header and nav layout and styling */

header {
  background-color: $color-header;
  border-bottom: 2px $color-header-line solid;

  section {
    padding: 0;
  }

  h1 {
    @include zass-column(3);
    margin-top:    0;
    margin-bottom: 0;
    a {
      color: $color-header-logo;
      text-decoration: none;
    }
  }

  ul {
    @include zass-column(9);
    margin-top:    0;
    margin-bottom: 0;
    padding-left:  0;
    float: right;
    width: auto;
    li {
      text-align:      center;
      text-transform:  lowercase;
      list-style-type: none;
      margin: 9px;
      float: left;
    }
  }
}
