{% extends "::layout.html.twig" %}

{% block wrapper %}
<div class="row">
  <div class="col-xs-12 col-sm-9">
    {% block fos_message_content %}{% endblock %}
  </div>
  <div class="col-xs-12 col-sm-3">
    {% include('FOSMessageBundle::sidebar.html.twig') %}
  </div>
</div>
{% endblock %}